
@{
    ViewData["Title"] = "OopsError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Oops...</h1>
    <p>There was an error with your last request.</p>
    <p>Please try again later.</p>
</div>

