@model int
@{
    ViewData["Title"] = "VerifyRefund";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <h1>Verify Refund</h1>
            <p>Are you sure you want to refund this order?</p>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <a href="@Url.Action("RefundOrder", "Shopping", new { refundOrder = Model })"><button class="btn btn-dark">Refund Order</button></a>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <form asp-controller="Shopping" asp-action="PreviousOrderList">
                            <button type="submit" class="btn btn-dark">Go Back</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>